{% extends 'admin/admin_home.html.twig' %}

{% block title %}Cart index{% endblock %}

{% block body %}
    <h1>Cart index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Client</th>
                <th>Total TTC</th>
                <th class="text-right">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cart in carts %}
            <tr>
                <td>{{ cart.id }}</td>
                <td>{{ cart.customerId is not empty ? cart.customerId.firstname ~ " " ~ cart.customerId.lastname : ''  }}</td>
                <td>{{ cart.totalPrice }}</td>
                <td class="text-right">
                    <a href="{{ path('cart_show', {'id': cart.id}) }}">voir</a>
                    <a href="{{ path('cart_edit', {'id': cart.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cart_new') }}">Create new</a>
{% endblock %}
