{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h3>modifiy adress</h3>
        {{ form_start(form) }}
            {{ form_row(form.Address, { 'label': 'Voie', 'attr': {'placeholder': 'rue, boulevard, ...'}} )}}
            {{ form_row(form.street_number, { 'label': 'Numéro', 'attr': {'placeholder': ' 5, 85 bis, 2 Ter ...'}} )}}
            {{ form_row(form.zipcode, { 'label': 'Code postal', 'attr': {'placeholder': 'code postal'}} )}}
            {{ form_row(form.city, { 'label': 'Ville'}) }}
            {{ form_row(form.country, { 'label': 'pays' }) }}
            {{ form_row(form.customer_id, { 'label': false, 'attr':{ 'hidden': true}} )}}
            <button type="submit" class="btn btn-success">Envoyer</button>
        {{ form_end(form) }}
        
    </div>
{% endblock %}