{% extends 'admin/admin_home.html.twig' %}

{% block title %}WeightRange index{% endblock %}

{% block body %}
    <h1>WeightRange index</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Transporteur</th>
                <th scope="col">Min</th>
                <th scope="col">Max</th>
                <th scope="col">Tarif</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for weight_range in weight_ranges %}
            <tr>
                <td>{{ weight_range.id }}</td>
                <td>{{ weight_range.carrier.name }}</td>
                <td>{{ weight_range.min }} kg</td>
                <td>{{ weight_range.max }} kg</td>
                <td>{{ weight_range.price }} €</td>
                <td>
                    <a href="{{ path('weight_range_show', {'id': weight_range.id}) }}" class="btn btn-primary material-icons">visibility</a>
                    <a href="{{ path('weight_range_edit', {'id': weight_range.id}) }}" class="btn btn-warning material-icons">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('weight_range_new') }}" class="btn btn-success"><i class="material-icons align-bottom">add</i>Nouveau tarif</a>
{% endblock %}
