{% extends 'admin/admin_home.html.twig' %}

{% block title %}WeightRange{% endblock %}

{% block body %}
    <h1>Tarif de {{ weight_range.carrier.name }}</h1>
    <a href="{{ path('weight_range_index') }}" class="btn btn-secondary"><i class="material-icons align-bottom">keyboard_arrow_left</i>Retour à la liste</a>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ weight_range.id }}</td>
            </tr>
            <tr>
                <th>Min</th>
                <td>{{ weight_range.min }}</td>
            </tr>
            <tr>
                <th>Max</th>
                <td>{{ weight_range.max }}</td>
            </tr>
            <tr>
                <th>Tarif</th>
                <td>{{ weight_range.price }}</td>
            </tr>
        </tbody>
    </table>

    

    <a href="{{ path('weight_range_edit', {'id': weight_range.id}) }}" class="btn btn-warning">Modifier</a>

    {{ include('weight_range/_delete_form.html.twig') }}
{% endblock %}
