<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {# <a class="navbar-brand" href="{{ path('accueil_path') }}">Navbar</a> #}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('accueil_path') }}">Accueil<span class="sr-only">(current)</span></a>
        </li>
        {% for category in categories %}
            {% if category.parentCategory is empty %}
                {% if category.children is empty %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('products_list', {'category': category.id}) }}">{{ category.name }} <span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ path('products_list', {'category': category.id}) }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ category.name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for child in category.children %}
                                <a class="dropdown-item" href="{{ path('products_list', {'category': child.id}) }}">{{ child.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}        
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ app.request.baseUrl }}/scripts/searchengine.js"></script>
{% endblock %}