{% extends 'base.html.twig' %}

{% block title %}Produits de la categorie {{ category.name }}{% endblock %}

{% block body %}
    <h1 class="text-center">{{ category.name }}</h1>

     <div class="container">
        <div class="row justify-content-md-between" style="margin-bottom:100px;">       
        {% for product in products %}
            <div class="card m-1 text-center justify-content-lg-around" style="width: 18rem;" key={{ product.id }}>
                <img class="card-img-top" 
                    src={% if product.productImages is not empty %}
                        {% for image in product.productImages %}
                            {% if image.isCover == true %}
                                "../images/products/{{ image.imageName }}"
                            {% endif %}                           
                        {% endfor %}
                    {% else %}
                        "../images/no-image-available.jpg" 
                    {% endif %} 
                    alt="Card image cap">
                <div class="card-body">
                    <a href="{{ path('category_product_show', {'id': product.id}) }}"><h5 class="card-title">{{ product.name }}</h5></a>
                    <p class="card-text text-truncate">{{ product.description }}</p>
                    <h6>{{ product.ttcPrice }} €</h6>
                    <a href="{{ path('category_product_show', {'id': product.id}) }}" class="btn btn-primary">Détails</a>
                </div>
            </div>           
        {% else %}
            <div>
                <p>aucun produit trouvé</p>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}