{% extends 'base.html.twig' %}

{% block title %}Produit {{ product.name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row" style="margin-top:5%;">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="text-center">
                    <img class="img-thumbnail" 
                            src={% if product.productImages is not empty %}
                                {% for image in product.productImages %}
                                    {% if image.isCover == true %}
                                        "{{ app.request.baseUrl }}/images/products/{{ image.imageName }}"
                                    {% endif %}                           
                                {% endfor %}
                            {% else %}
                                "{{ app.request.baseUrl }}/images/no-image-available.jpg" 
                            {% endif %}
                            id="bigimg"
                            alt="Card image cap"
                            style="max-width:300px"
                            data-toggle="modal" data-target="#imageModalCenter"
                            >                    
                </div>            
                <div class="text-center">
                    {% if product.productImages is not empty %}
                        {% for image in product.productImages %}                            
                            <img class="img-thumbnail" 
                                src="{{ app.request.baseUrl }}/images/products/{{ image.imageName }}"
                                alt="Card image cap"
                                style="max-width:100px"
                            >                                               
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 text-center">
                <h3 id="title" product="{{ product.id }}">{{ product.name }}</h3>
                <h6>Ref: {{ product.ean13 }}</h6>
                <div>
                    <br><br>
                    <h4>Prix: {{ product.ttcPrice}}€</h4><br><br>                    
                    {# <p>{{ dump(session) }}</p> #}
                    <br><br>
                    <form action="{{ path('category_product_show', {'id': product.id}) }}" method="post">
                    <div class="form-group flex row" style="width:60%; height:100%;margin-left:25%;">
                        <span class="col d-inline-flex" style="margin:5px;">
                            <button class="btn btn-secondary d-inline col" id="btnmoins">-</button>
                            <div class="col d-inline text-center">                                  
                                <input type="text" id="quantity" name="quantity" class="form-control text-center" style="width:45px;" value="1" min="1" max="{{ product.quantity.quantity }}">
                            </div>
                            <button class="btn btn-secondary d-inline col" id="btnplus">+</button> 
                        </span>
                        <span class="col" style="margin:5px;">
                        <input type="submit" name="submit" id="submit" value="Ajouter" style="width:100%;margin:auto;" class="d-inline col btn btn-success">
                        </span>
                    </div>                        
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" 
            id="imageModalCenter"
            tabindex="-1" 
            role="dialog"
            aria-labelledby="exampleModalLabel" 
            aria-hidden="true"> 
                <div class="modal-dialog modal-dialog-centered" role="document" style="max-height:100%;">                 
                    <img src="{{ app.request.baseUrl }}/images/no-image-available.jpg" id="modal-img" class="img-fluid" />             
                </div> 
        </div>
        <div class="divider"></div>
        <div class="row my-5 p-2 text-justify">
            <p>{{ product.description }}</p>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}    
    {# <script src="{{ asset ('/scripts/product.js') }}"></script> #}
    <script>
        quantity = document.getElementById("quantity");
        btnplus = document.getElementById("btnplus");
        btnmoins = document.getElementById("btnmoins");
        max = parseInt(quantity.getAttribute('max'));

        btnplus.onclick = function onClickBtnPlus(e) {
            e.preventDefault();
            quantity.value ++;

            if (quantity.value >= max) quantity.value = max;
        };
        btnmoins.onclick = function onClickBtnMoins(e) {
            e.preventDefault();
            quantity.value --;

            if (quantity.value < 1) quantity.value = 1;
        };

        var img = document.getElementById("bigimg");
        var modalimg = document.getElementById("modal-img");
        var imgs = document.getElementsByTagName("img");
        for (var image of imgs) {
            image.onclick = function changeImg(e) {
                console.log('click');
                img.src = this.src;
                modalimg.src = this.src;
            }
        }
    </script>
{% endblock %}