{% extends 'admin/admin_home.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block body %}
    <h1>Commandes reçues</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Date</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.date ? order.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('order_show', {'id': order.id}) }}" class="material-icons align-bottom">visibility</a>
                    <a href="{{ path('order_edit', {'id': order.id}) }}" class="material-icons align-bottom">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune commande ! </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('order_new') }}" class="btn btn-success"><i class="material-icons align-bottom">add</i>Créer une commande</a>
{% endblock %}
